<div class="flashcard" id="question">
  <%= raw markdown(@card.question) %>
</div>

<strong>Answer:</strong>
<button id="reveal-answer" class="btn btn-info">Reveal Answer</button>

<div class="flashcard" id="answer">
  <%= markdown(@card.answer) %>
</div>
